[Unit]
Description=Audio Server
After=network.target

[Service]
ExecStart=/home/audioservice/code/services/kokoro/venv/bin/python3 /home/audioservice/code/services/kokoro/app.py
WorkingDirectory=/home/audioservice/code/services/kokoro
Restart=always
User=audioservice
Environment=PYTHONUNBUFFERED=1
Nice=-10
CPUSchedulingPolicy=fifo 
CPUSchedulingPriority=1
Environment=SERVE_DIR=/home/audioservice/app/files   
[Install]
WantedBy=multi-user.target
